# SLU Opportunity Wise Data Cleaning Project

## Importing Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## Data Loading

In [5]:
df = pd.read_csv('data/SLU Opportunity Wise Data-1710158595043 - SLU Opportunity Wise Data-1710158595043.csv')
df.head()

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,06/14/2023 12:30:35,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Faria,01/12/2001,Female,Pakistan,Nwihs,Radiology,03/11/2024 12:01:41,Started,1080,06/14/2023 12:36:09,11/03/2022 18:30:39
1,05/01/2023 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,08/16/2000,Female,India,SAINT LOUIS,Information Systems,03/11/2024 12:01:41,Started,1080,05/01/2023 06:08:21,11/03/2022 18:30:39
2,04/09/2023 20:35:08,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Emmanuel,01/27/2002,Male,United States,Illinois Institute of Technology,Computer Science,03/11/2024 12:01:41,Started,1080,05/11/2023 1085640:21:29,11/03/2022 18:30:39
3,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,11/01/1999,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:01:41,Team Allocated,1070,10/09/2023 22:02:42,11/03/2022 18:30:39
4,01/06/2023 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,04/19/2000,Male,United States,Saint Louis University,Computer Science,03/11/2024 12:01:41,Started,1080,01/06/2023 15:40:10,11/03/2022 18:30:39

## Data exploration

### 1. Examining the Shape

In [6]:
print(f"Shape of the DataFrame: {df.shape}")

Shape of the DataFrame: (8558, 16)

### 2. Inspecting Data Types

In [7]:
print("\nData Types of Columns:")
print(df.info())

Data Types of Columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   object
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   object
 5   First Name               8558 non-null   object
 6   Date of Birth            8558 non-null   object
 7   Gender                   8558 non-null   object
 8   Country                  8558 non-null   object
 9   Institution Name         8553 non-null   object
 10  Current/Intended Major   8553 non-null   object
 11  Entry created at         8558 non-null   object
 12  Status Description       8558 non-null   object
 13  Status Code              8558 non-null   int64
 14  Apply Date               8558 non-null   object
 15  Opportunity Start Date   4764 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.0+ MB
None

### 3. Identifying Missing Values

In [8]:
print("\nMissing Values:")
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
missing_info = pd.DataFrame({"Missing Values": missing_values, "Percentage": missing_percentage})
print(missing_info)

Missing Values:
                         Missing Values  Percentage
Learner SignUp DateTime               0    0.000000
Opportunity Id                        0    0.000000
Opportunity Name                      0    0.000000
Opportunity Category                  0    0.000000
Opportunity End Date                  0    0.000000
First Name                            0    0.000000
Date of Birth                         0    0.000000
Gender                                0    0.000000
Country                               0    0.000000
Institution Name                      5    0.058425
Current/Intended Major                5    0.058425
Entry created at                      0    0.000000
Status Description                    0    0.000000
Status Code                           0    0.000000
Apply Date                            0    0.000000
Opportunity Start Date             3794   44.332788

### 4. Examining Descriptive Statistics

In [9]:
print("\nDescriptive Statistics of Numerical Columns:")
print(df.describe())

Descriptive Statistics of Numerical Columns:
       Status Code
count  8558.000000
mean   1052.225987
std      21.665207
min    1010.000000
25%    1030.000000
50%    1050.000000
75%    1070.000000
max    1120.000000

### 5. Exploring Categorical Variables

In [10]:
categorical_columns = df.select_dtypes(include=['object']).columns
for column in categorical_columns:
    print(f"\nUnique values and their frequencies for '{column}':")
    print(df[column].value_counts())

Unique values and their frequencies for 'Learner SignUp DateTime':
Learner SignUp DateTime
02/21/2024 14:37:12    16
01/31/2024 15:11:57    16
01/03/2024 17:13:01    16
02/02/2024 21:06:36    16
01/05/2023 16:33:15    16
                       ..
02/12/2024 12:44:38     1
09/25/2023 07:12:18     1
02/22/2024 20:51:43     1
03/05/2024 19:04:55     1
07/20/2023 04:25:28     1
Name: count, Length: 3916, dtype: int64

Unique values and their frequencies for 'Opportunity Id':
Opportunity Id
00000000-0GN2-A0AY-7XK8-C5FZPP    1423
00000000-0GWQ-AXC5-X45C-2MHJ28     980
00000000-0GHB-4N83-QX9K-JM48K2     836
00000000-0GRA-BD28-CXVV-EYEX21     784
00000000-0GNT-FT74-MZT8-93VC0G     559
00000000-10GG-17ZM-AP4T-WQVBGQ     551
00000000-101B-RJY9-TVWC-6XG9BH     483
00000000-10SA-ZXDA-E05A-N2CGAN     478
00000000-0GZY-NNHV-FJWW-PTA9VX     419
00000000-10WC-BS50-CYGD-X97ES4     389
00000000-10CD-3CAK-3FZK-9VXKRM     331
00000000-10S6-HVRK-ZDAM-90C0F8     262
00000000-10GQ-RJHT-3G4S-BKGBY1     237
00000000-100J-PM3A-0WJ8-5T68M5     192
00000000-106T-FSAJ-KDBX-40ZGNV     138
00000000-10QW-PYTT-CJCX-7VQBTT     121
00000000-10A5-TYD2-181G-D2J679     116
00000000-10RQ-JXA9-NNKD-EW5RCF     112
00000000-101Y-HSX2-0DFJ-QCKQBR      55
00000000-104G-3FS6-3SV3-JKHVQB      46
00000000-10WW-X340-GTVH-RR52VF      33
00000000-10YM-B80K-RNNJ-YAVQ7V       9
00000000-0GHG-N3NG-584M-44MK40       4
Name: count, dtype: int64

Unique values and their frequencies for 'Opportunity Name':
Opportunity Name
Career Essentials: Getting Started with Your Professional Journey    1423
Data Visualization                                                    980
Project Management                                                    836
Health Care Management                                                784
Digital Marketing                                                     559
Data Visualization Associate                                          551
Business Consulting                                                   483
Project Management Associate                                          478
Innovation & Entrepreneurship                                         419
CPR/AED Certification                                                 389
Digital Strategy Virtual Internship                                   331
Startup Mastery Workshop                                              262
Freelance Mastery workshop                                            237
Jump Start: Developing your Emotional Intelligence                    225
UrbanRenew Challenge                                                  138
Join a Student Organisation                                           121
Xperience Design Hackathon                                            116
UX Redesign Challenge                                                 112
AI Ethics Challenge                                                    55
Mental and Physical Health Session                                     46
Upload Your First Year Transcript                                       9
Slide Geeks: A Presentation Design Competition                          4
Name: count, dtype: int64

Unique values and their frequencies for 'Opportunity Category':
Opportunity Category
Internship     5421
Course         2037
Event           545
Competition     425
Engagement      130
Name: count, dtype: int64

Unique values and their frequencies for 'Opportunity End Date':
Opportunity End Date
03/11/2024 18:00:00         4159
06/29/2024 18:52:39         1423
04/12/2024 1095120:00:00     784
04/11/2024 1094400:00:00     478
06/30/2024 16:18:50          389
02/17/2024 11:30:00          262
03/08/2024 11:30:00          237
12/24/2025 03:34:00          192
04/29/2024 18:29:00          138
12/05/2025 12:59:00          121
03/13/2024 18:29:00          116
04/19/2024 18:29:00          112
10/31/2023 14:45:36           55
04/23/2024 16:36:47           46
12/05/2025 11:06:00           33
12/06/2025 10:26:00            9
03/01/2023 11:36:46            4
Name: count, dtype: int64

Unique values and their frequencies for 'First Name':
First Name
Bhargavi                     40
Pavan Kumar                  36
Divya                        34
Rohith                       32
Abhishek                     28
                             ..
Adeyemi                       1
parimala                      1
Nandam Venkata Naga Vijay     1
LASYA                         1
Usman Bashir                  1
Name: count, Length: 3026, dtype: int64

Unique values and their frequencies for 'Date of Birth':
Date of Birth
05/20/2001    29
09/17/2002    28
09/17/2000    28
11/15/2001    25
06/21/2000    24
              ..
05/16/2002     1
05/17/2004     1
01/21/2002     1
10/12/1995     1
05/22/1990     1
Name: count, Length: 2620, dtype: int64

Unique values and their frequencies for 'Gender':
Gender
Male                     5018
Female                   3522
Don't want to specify      15
Other                       3
Name: count, dtype: int64

Unique values and their frequencies for 'Country':
Country
United States             3976
India                     2836
Nigeria                    760
Ghana                      275
Pakistan                   219
                          ...
Ireland                      1
Libyan Arab Jamahiriya       1
Afghanistan                  1
Bhutan                       1
Spain                        1
Name: count, Length: 71, dtype: int64

Unique values and their frequencies for 'Institution Name':
Institution Name
Saint Louis University                               2631
saint louis university                                818
Saint Louis university                                246
Saint louis university                                214
SAINT LOUIS UNIVERSITY                                106
                                                     ...
Wa nursing training college                             1
Camellia School of Engineering and Technology           1
Beaconhouse College Programme Gulberg                   1
ANNAMACHARYA INSTITUTE OF TECHNOLOGY AND SCIENCES       1
Bestower international university                       1
Name: count, Length: 2089, dtype: int64

Unique values and their frequencies for 'Current/Intended Major':
Current/Intended Major
Information Systems             2158
Computer Science                1052
Health Data Science              371
Cyber Security                   326
Computer Information Systems     250
                                ...
Home Tutor                         1
Bachelor Degree in Nursing         1
Education Administration           1
Zack                               1
Pos Service                        1
Name: count, Length: 406, dtype: int64

Unique values and their frequencies for 'Entry created at':
Entry created at
03/11/2024 12:02:04    141
03/11/2024 12:02:17    126
03/11/2024 12:02:57    123
03/11/2024 12:02:12    121
03/11/2024 12:02:05    121
                      ...
03/11/2024 12:02:46     71
03/11/2024 12:02:45     70
03/11/2024 12:01:57     69
03/11/2024 12:02:40     65
03/11/2024 12:02:25     56
Name: count, Length: 94, dtype: int64

Unique values and their frequencies for 'Status Description':
Status Description
Rejected          3569
Team Allocated    3276
Started            767
Dropped Out        617
Waitlisted         109
Applied            105
Withdraw            86
Rewards Award       29
Name: count, dtype: int64

Unique values and their frequencies for 'Apply Date':
Apply Date
08/29/2023 05:30:24    3
02/21/2024 06:01:42    2
01/05/2024 04:38:47    2
01/17/2024 19:23:52    2
08/20/2023 04:53:48    2
                      ..
02/04/2024 18:04:51    1
01/28/2024 20:38:53    1
03/06/2024 17:28:37    1
03/08/2024 07:37:14    1
10/09/2023 22:02:42    1
Name: count, Length: 8548, dtype: int64

Unique values and their frequencies for 'Opportunity Start Date':
Opportunity Start Date
11/03/2022 18:30:39         1361
01/08/2024 03:30:46          988
01/22/2024 24:00:00          499
03/20/2023 02:30:00          341
02/17/2024 14:00:00          262
03/08/2024 14:00:00          222
01/28/2024 23:30:00          186
03/05/2024 1089960:00:00     153
03/21/2024 18:30:00          136
08/21/2023 06:30:54          118
01/28/2024 18:30:00          113
02/15/2024 18:30:00          110
02/19/2024 24:00:00          106
04/04/2024 1089264:00:00      49
04/30/2024 13:36:47           43
03/18/2024 24:00:00           36
06/06/2023 11:06:00           33
05/31/2024 07:04:54            8
Name: count, dtype: int64